//_ sebebi sass compiler css klasörüne ek olarak çıkarmaması içindir.



iframe{
    width: 100%;
    height: 500px;
}

#service i {
    font-size: 30px;
    border: 3px solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}